*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: tahoma;
  font-weight: normal;
  font-stretch: condensed;
}
.wrapper {
  background: url(../images/transparent.jpg);
  background-size: cover;
  height: 246px;
}
.site-top {
  background-color: rgba(0, 0, 0, .5);
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.nav li {
  display: inline-block;
}
/*.nav li a {
  display: inline-block;
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
  padding: 25px 15px 5px;
  border-bottom: 5px solid transparent;
  transition: all .5s ease;
}
.nav li:hover a {
  border-bottom: 5px solid #13a6c1;
}*/

.nav li a {
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
  border-bottom: 5px solid transparent;
  padding: 25px 15px 5px;
}
.nav li a::after {
  content: '';
  display: block;
  height: 5px;
  position: absolute;
  bottom: -5px;
  left: 0px;
  background-color: #13a6c1;
  width: 0;
  transition: all .2s ease-in-out;
}
.nav li a:hover::after {
  width: 100%;
}
