:root {
  --bg-dark: #26272a;
  --txt-dark: #bdbdbd;
  --txt-color: #fff;
  --main-color: #52276c;
  --main-color-hover: #6a478e;
  --main-color-dark: #2f095d;
  --main-color-light: #a24d8c;
  --main-color-light2: #eed7fb;
}
a, a:hover {
  text-decoration: none;
}
a {
  color: var(--main-color);
}
:focus{
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
body {
  background: #e9ebee;
}
.bg-gradient {
  background: linear-gradient(217deg, #221d68, #a85898);
  background: -webkit-linear-gradient(217deg, #221d68, #a85898);
  background: -moz-linear-gradient(217deg, #221d68, #a85898);
  background: -ms-linear-gradient(217deg, #221d68, #a85898);
}
.fluid-column {
  overflow: hidden;
  height: 100vh;
}
.bg-dark {
  background-color: var(--bg-dark); !important;
}

/* Profile */
.profile {
  padding: 0;
  position: relative;
}
.profile__card {
  line-height: 18px;
  padding: 20px 30px;
  color: var(--txt-color)
}
.profile__name {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 17px;
  font-weight: bold;
}
.profile__job {
  font-size: 13px;
  color: #777777;
}
.profile__image {
  margin-top: -10px;
  -webkit-clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%);
  clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%);
}
.profile__image img {
  width: 100%;
}
.profile__information {
  list-style: none;
  margin-top: 5px;
}
.profile__information li {
  border-left: solid 2px var(--main-color-hover);
  padding: 0 0 23px 20px;
  font-size: 14px;
  color: #787878;
}
.profile__information li:before {
  content: "";
  border: solid 2px var(--main-color-hover);
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  font-size: 8px;
  margin-left: -25px;
  margin-top: 2px;
  font-weight: 400;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  background: linear-gradient(217deg, #221d68, #a85898);
  background: -webkit-linear-gradient(217deg, #221d68, #a85898);
  background: -moz-linear-gradient(217deg, #221d68, #a85898);
  background: -ms-linear-gradient(217deg, #221d68, #a85898);
}
.profile__information li:first-child {
  padding-bottom: 10px;
  padding-left: 30px;
  position: relative;
}
.profile__information li:first-child:before {
  margin-left: -51px;
  margin-top: -30px;
  margin-bottom: 20px;
  position: relative;
  border: 0;
  width: 40px;
  height: 40px;
  padding: 11px 14px;
  box-shadow: 0px 2px 32px 0px rgba(4, 123, 248, 0.3);
}
.profile__information li:first-child:after {
  background: url(../images/glasses-w.png) no-repeat;
  content: '';
  width: 30px;
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 16px -15px;
  background-size: 27px 10px;
}
.profile__information li:last-child {
  border: 0;
  margin-left: 2px;
  margin-top: -2px;
}
.profile__information li p {
  font-size: 13.5px;
  line-height: 12px;
}
.profile__information li i {
  padding-right: 5px;
  color: #fff
}
.profile__social {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.socials {
  width: 100%;
  text-align: center;
  padding: 0 10px;
  margin-bottom: 12px;
}
.socials a {
  font-size: 17px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  display: inline-block;
  color: var(--txt-dark);
}
.socials .github:hover {
  background-color: #7d5fff;
  color: #fff;
}
.socials .mail:hover {
  background-color: #ffaf40;
  color: #fff;
}
.socials .facebook:hover {
  background-color: #1B9CFC;
  color: #fff;
}
.socials .youtube:hover {
  background-color: #ff4d4d;
  color: #fff;
}
.copyright {
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  padding: 15px;
  border-top: 1px solid transparent;
  font-size: 11px;
  font-weight: 300;
  color: #ddd;
  border-color: rgba(255,255,255,.07);
}
/* SideNav */
.nav {
  position: relative;
  z-index: 2;
  margin: 0 -15px;
  padding: 5px 15px;
  border-radius: 0;
  color: var(--txt-color);
}
.search-input{
  font-size: 13px;
}
.search-button {
  cursor: pointer;
  background: #f6f7f9;
}
.notify-bell, .notify-bell:hover {
  color: var(--main-color-light2) !important;
}
.open .notify-bell {
  background-color: transparent !important;
  color: #fff !important;
  border: none;
}
.notify {
  transform: translateY(25%);
}
.notify-tool {
  padding: 0 8px;
}
.notify-tool p {
  margin-bottom: 5px;
}
.notify-title {
  color: #333;
  font-weight: bold;
}
.notify-read-all:hover {
  text-decoration: underline;
}
.notify__item {
  color: var(--main-color-light2);
  margin: 0 5px;
  cursor: pointer;
}
.notify__item:last-of-type {
  margin-right: 0;
}
.notify-wrapper {
  top: 140%;
  right: -15px;
  width: 350px;
  font-size: 12px;
  border-radius: 0 0 4px 4px;
}
.notify-wrapper li {
  border-bottom: 1px solid #ddd;
}
.notify-wrapper li a {
  padding: 5px 8px;
  white-space: inherit;
}
.notify-wrapper li:last-of-type {
  border: none;
}
.notify-avatar {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  float: left;
}
.notify-avatar img {
  width: 100%;
  border-radius: 100%;
}
.notify-type-msg {
  margin: 0;
}
.notify-type-msg .fa-comment-alt {
  color: var(--main-color-light);
}
.nav .container {
  width: 80%;
  margin: 0;
  padding: 0
}

/* Side Friend */
.side-friends {
  position: fixed;
  height: 100vh;
  box-shadow: inset 2px 0 2px -2px #8e8c8c;
}
.affix-top {
  overflow: hidden;
  right: 0;
  width: 190px;
}
.friend__title {
  font-weight: bold;
  text-transform: uppercase;
  line-height: 30px;
  font-size: 12px;
  color: #4c4c4c
}
.friend__item {
  display: block;
  width: 100%;
  margin: 15px 0;
  position: relative;
}
.friend__item:hover {
  text-decoration: none;
}
.friend__img {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  border-radius: 999px;
}
.friend__name {
  color: #4c4c4c;
  font-size: 12px;
  padding-left: 2px;
}
.friend_activity {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: rgb(66, 183, 42);
  border-radius: 50%;
  display: inline-block;
  height: 6px;
  width: 6px;
  margin-left: 4px;
}

/** ====================
 * MAIN CONTENT
 =======================*/
#js-wall-wrapper .mCSB_container {
  margin-right: 25px;
}
#js-wall-wrapper .mCSB_dragger_bar {
  background-color: var(--main-color);
}
.card-wrapper {
  margin-top: 10pt;
}
.card-posts {
  padding-right: 5pt;
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100vh - 60px);
}
.card-posts .well {
  border-color: #ddd;
  background-color: #fff;
}

/** ====================
 * Box Status
 =======================*/
.box-status__content{
  border: none;
  border-radius: 0;
  background: #fff;
  -webkit-appearance:none;
  box-shadow: none;
  resize: none;
  min-height: 60px;
}
.box-status .input-group-btn {
  font-size: inherit;
}
.box-status__submit {
  border: none;
  border-radius: 999px;
  text-align: center;
  line-height: 47px;
  height: 47px;
  width: 47px;
  color: #fff;
  outline: none;
  transition: all ease .5s;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  -ms-transition: all ease .5s;
}
.card-post-submit:hover {
  background-color: var(--main-color-dark);
}
.box-status__content::-webkit-input-placeholder { font-size: 20px; }
.box-status__content::-moz-input-placeholder { font-size: 20px; }
.box-status__content::-ms-input-placeholder { font-size: 20px; }

/** ====================
 * Card Informatoon Author
 =======================*/

.card-author-avatar {
  float: left;
}
.card-author-avatar img {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 999px;
}
.card-options {
  float: right;
}
.card-author a {
  font-weight: bold;
  color: var(--main-color-hover)
}
.card-time {
  color: #60666f;
  font-size: 12px;
}
.card-body {
  clear: both;
  margin-top: 10px;
}

/** ====================
 * Card Action
 =======================*/
.card-action {
  display: flex;
  justify-content: center;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}
.card-action__item {
  display: block;
  width: 100%;
  color: #606770;
  font-size: 14px;
  text-align: center;
}
.card-action__feel .fa-thumbs-up{
  color: #1B9CFC;
}
.card-action__feel .fa-smile{
  color: #ffaf40;
}
.card-action__feel .fa-heart{
  color: #ff4d4d
}
/** ====================
 * Box Comments
 =======================*/
.box-comment {
  -webkit-appearance:none;
  box-shadow: none;
  resize: none;
  border-right: 0;
  border-radius: 16px;
}
.box-comment:focus {
  outline: none;
  border: 1px solid #ccc;
  border-right: 0;
}
.box-comment:empty {
  height: 35px;
}
.box-comment-action {
  padding-right: 5px;
  border: 1px solid #ccc;
  border-left: 0;
  border-radius: 0 16px 16px 0;
  font-size: inherit
}

/** ====================
 * List Comments
 =======================*/
.comments-container {
  margin-top: 15px;
}
.comments-list {
  padding: 0;
}
.comments-list li {
	margin-bottom: 15px;
  list-style: none;
}

.reply-list {
  margin-left: 43px;
  border-left: 2px solid var(--main-color);
  padding-left: 10px
}
.comments-list .comment-avatar {
  flex-wrap: wrap;
  margin-right: 5px;
	width: 60px;
	height: 60px;
}
.comment-avatar img {
	width: 100%;
  -webkit-border-radius: 999px;
	-moz-border-radius: 999px;
	border-radius: 999px;
}
.reply-list .comment-avatar {
	width: 40px;
	height: 40px;
}
.comment-main-level {
  display: flex;
  align-items: flex-start;
}
.comment-content {
	background: #eff1f3;
	padding: 5px 15px;
	color: #1d2129;
  border-radius: 18px;
}


/** ====================
 * ADVERTISE
 =======================*/
.advertise {
  padding-left: 5pt;
}


/** ====================
 * CHAT BOX
 =======================*/
.panel-chat {
  border: none;
  margin: 0;
  position: fixed;
  bottom: 0;
  right: 200px;
  width: 260px;
}
.panel-chat .panel-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  text-transform: capitalize;
  padding: 5px 15px;
}
.panel-chat .chat-username {
  color: #fff;
  font-weight: bold;
}
.panel-chat .chat-username:hover {
  text-decoration: underline;
}
.panel-chat .chat-close {
  cursor: pointer;
  line-height: 10px;
  color: var(--main-color-light2);
}
.panel-chat .chat-close:hover {
  color: #fff;
}
.panel-chat .panel-body {
  max-height: 280px;
  overflow-y: scroll;
}
.panel-chat .chat-message {
  display: flex;
  margin-bottom: 10px;
}
.chat-message .avatar{
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-right: 8px;
  align-self: flex-end;
}
.chat-message.your-message p {
  background-color: var(--main-color-light);
  border-radius: 4px 18px;
  color: #fff;
  margin-right: 8px;
}
.chat-message p {
  background-color: #f1f0f0;
  padding: 10px;
  border-radius: 18px 4px;
  font-size: 13px;
  width: 200px;
  flex-wrap: wrap;
}
.panel-chat .panel-footer {
  border: none;
  border-radius: 0;
}
.panel-chat textarea {
  width: 100%;
  resize: none;
  max-height: 120px;
  border-radius: 18px;
}
.panel-chat textarea:empty {
  height: 35px;
}
.panel-chat textarea:focus {
  border-color: #ccc;
}
